<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="DataVizEntities" connectionString="metadata=res://*/DataVizModel.csdl|res://*/DataVizModel.ssdl|res://*/DataVizModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SESUW2-SQL13L;initial catalog=dv-data;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="CommsEntities" connectionString="metadata=res://*/CommsModel.csdl|res://*/CommsModel.ssdl|res://*/CommsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SESUW2-SQL13L;initial catalog=dv-data;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="OwningServicesToMonitor" value="WSD,WSD CFE,WSD Update Publishing Service,WSD - Build and Packaging,WSD CRT,WSD PubSuites,WSD LSVT,WSD Release Management,WSD RAM,WSD - Pre-Build,Distribution Services Platform" />
    <add key="CommsEventLookbackInMonths" value="6" />
    <add key="CommsKnownIssueLookback" value="30" />
    <add key="DocPagesPath" value="C:\Comms\YMLDocPages" />
    <add key="DocsPageMessageActionUrl" value="https://docs.microsoft.com/windows/release-information/windows-message-center" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>